@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  height: 60px;
  background-color: #F1F1F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
  max-width: 250px;
  margin-left: 70px;
  margin-right: 100px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 55px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 60px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #8C8F9B;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #F07427;
}

.container .navbar img {
  height: auto;
  line-height: 60px;
  cursor: pointer;
  margin-top: 25px;
  padding: 0 10px;
}

.main_list {
    display: flex;
    float: left;
}

.main_list ul {
    display: flex;
    list-style: none;
    margin-top: 50px;
    
}

.main_list ul li a {
    text-decoration: none;
    margin-left: 35px;
    font-weight: bold;
    color:#616676;
    padding: 12px 3px;
  }
  
.main_list a:hover {
    border-bottom: 3px solid orange;
  }
  
.main_list a.active {
    border-bottom: 3px solid orange;
  }

.main_list2 {
    display: flex;
    float: right;
    
}

.main_list2 ul {
    display: flex;
    list-style: none;  
    margin-top: 50px;
    margin-right: 133px;
}


.main_list2 ul li a {
    text-decoration: none;
    margin-left: 35px;
    font-weight: bold;
    color:#616676;
    padding: 12px 3px;
  }

  .main_list2 a:hover {
    border-bottom: 3px solid orange;
  }
  
.main_list2 a.active {
    border-bottom: 3px solid orange;
  }
 
.main_list2 #currency {
    margin-top: -15px;
    margin-left: 50px;
    width: 90px;
    height: 45px;
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    outline: none;
    box-shadow: 1px 2px 2px 3px #F7F7F7;
}

.main {
    width: 100%;
    height: 270px;
    display: flex;
  }
  
.main div {
    width: 100%;
    height: 100%;
  }
  
.main .myRedDIV   {
    order: 1;
    margin-left: 70px;
}

.main .myRedDIV #time {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;

}
.main  .myRedDIV #money {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}


.main .myBlueDIV  {
    order: 2;
}

.main .myBlueDIV #location {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}

.main .myBlueDIV #money2 {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
    margin-top:50px;

}



.main .myGreenDIV {order: 3;
}

.main .myGreenDIV #area {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}

.main .myGreenDIV #code1 {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}


.main .myPinkDIV  {order: 4;}
.main .myPinkDIV #rooms {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}
.main .myPinkDIV #type {
    width: 155px;
    height: 45px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 100px;
    text-align: center;
    outline: none;
}

.main .mygreyDIV   {order: 5;}
.main .mygreyDIV #button1 {
    width: 155px;
    height: 45px;
    background-color: #FFD078;
    border: none;
    border-radius: 100px;
    text-align: center;
    margin-top: 50px;
    margin-right: 80px;
    

}

.main3 {
     width: 80%;
     height: 300px;
     border: 1px solid white;
     box-shadow: 1px 2px 2px 3px rgb(212, 208, 208);
     display: flex;
     margin: 0 auto;
     border-radius: 15px;
}

.main3 .main4 {
    width: 450px;
}

.main3 .main4 #image {
    width: 450px;
    height: auto;
    border-radius:20px;
    margin: 20px 20px;
}

.main3 .Bayron {
    width: 10px;
    height: 30px;
    display: flex;
    margin-left: 30px;
    
}

.main3 .Bayron #h31 {
    margin-top: 25px;
    color: #8C8F9B;
    margin-left: 5px;
}

.box {
    width: 100%;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    margin-top: 50px;
  }
  
.box div {
    width: 100%;
    height: 100%;
  }

.box .boxA {
    order: 1;
}
.box .boxA h3 {
    margin-left:38px;
}

.box .boxA ul{
    list-style: none;
}

.box .boxA ul li {
    text-decoration: none;
    font-weight: bold;
    color:#928d8d;
}

.box .boxB {
    order: 2;
}

.box .boxB #lolo {
    color: blue;
    margin-top:10px;
}

.box .boxC {
    order: 3;
}

.box .boxC .button23 {
   
    background-color: #FFD078;
    border: none;
    border-radius: 100px;
   
}




.main5 {
    width: 80%;
    height: 300px;
    border: 1px solid white;
    box-shadow: 1px 2px 2px 3px rgb(212, 208, 208);
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
}

.main5 .main6 #image2 {
   width: 450px;
   height: auto;
   border-radius:20px;
   margin: 20px 20px;
}

.main5 .Teryan {
   width: 10px;
   height: 30px;
   display: flex;
   margin-left: 30px;

   
}
.main5 .Teryan #h31 {
   margin-top: 25px;
   color: #8C8F9B;
   margin-left: 5px;
}



.main7 {
    width: 80%;
    height: 300px;
    border: 1px solid white;
    box-shadow: 1px 2px 2px 3px rgb(212, 208, 208);
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
}

.main7 .main8 #image3 {
   width: 450px;
   height: auto;
   border-radius:20px;
   margin: 20px 20px;
}

.main7 .Amiryan {
   width: 10px;
   height: 30px;
   display: flex;
   margin-left: 30px;

   
}
.main7 .Amiryan #h31 {
   margin-top: 25px;
   color: #8C8F9B;
   margin-left: 5px;
}





.main9 {
    width: 80%;
    height: 300px;
    border: 1px solid white;
    box-shadow: 1px 2px 2px 3px rgb(212, 208, 208);
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
}

.main9 .main10 #image4 {
   width: 450px;
   height: auto;
   border-radius:20px;
   margin: 20px 20px;
}

.main9 .Abovyan {
   width: 10px;
   height: 30px;
   display: flex;
   margin-left: 30px;

   
}
.main9 .Abovyan #h31 {
   margin-top: 25px;
   color: #8C8F9B;
   margin-left: 5px;
}









.footer{
    
    width: 100%;
    height: 300px ;
    background: rgb(241, 241, 243) ;
    margin-top: 100px;
}
.logo_1{
    margin-left: 200px;
    margin-top: 50px;
}

.pa{
    margin-left: 210px;
    margin-top: 0px;
    word-spacing: 20px;
}

.first_ul{
    list-style: none;
    
}
.second_ul{
    list-style: none;
}
.thirth_ul{
    list-style: none;
}
.uls_div{
    font-size: 13px;
    display: flex;
    margin-left: 155px;
}
.fa {  
    padding: 10px;
    font-size: 2px;
    width: auto ;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    list-style: none;
    margin-right: 10px;
}
.fa:hover {
    opacity: 0.7;
  }
.fa-facebook {
    margin-left: 450px;
    background: rgb(135,139,152);
    color: white;
  }
.fa-twitter {
    background: rgb(135,139,152);
    color: white;
  }
  .fa-linkedin {
    background: rgb(135,139,152);
    color: white;
  }
  .fa-instagram {
    background: rgb(135,139,152);
    color: white;
  }
  .fa-youtube {
    background: rgb(135,139,152);
    color: white;
  }
  .fa-pinterest {
    background: rgb(135,139,152);
    color: white;
  }
  .copyright{
    margin-left: 450px;
    word-spacing: 4px;
  }




















